@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center; /*se establece el estilo para el fondo y la fuente de la pagina*/
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-block-end: 2em;  /*Darle espacio al margen final*/
}

.header img{
    padding-left: 1em;
    width: 135px; 
    padding-bottom: 2em;
}

.src-only {
    display: none; /*se oculta el elemento*/
}

.header ul{  /*Navegacion*/
    font-family: 'Arsenal', sans-serif;
    font-size: 2em;
    display: flex;
    height: 10%;
    align-items: center;
    padding: 0em 2em; /**/
}

.hide-mobile {
    display: none;
   
}

p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo { /*se define el tamaño que tendra el logo*/
    width: 90px;
    margin: 2em;
}

.options { /*se aigna que el menu de la pagina se posicione en la parte superior derecha de la pagina*/
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
    display: flex;
    color: whitesmoke;
    padding-top: 0em;
    scroll-padding-right: 0.45em;
    scroll-padding-bottom: 1.3em;
    order:1;
}

/* Big area */
.big-hero img {
    width: 150px;/*define el ancho de la imagen principal*/
    
}

.big-hero h2 { /*se le añade un fuente al texto*/
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em ;
}

.big-hero p { /*Cambia el color y tamaño de fuente de el parrafo*/
    font-size: 1em;;
    color: #D7DEE6;

}

/* Social links*/    /*Clase editada*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: 0;  /*Valor inicial 2em*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    order: 1;
}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 8.5em; /*valor inicial 2.5em*/
    margin-top: 8em;
   
    
}

.hide-mobile i{  /*Clase para logo verde*/
    color: #0AC693;
    width: 5em;
    height: 3em;
    font-size:   3.5em;
    margin-top: 0%;
}

.fab{   /*Clase editada*/
    width: 1em;       /*Valor inicial 3em*/
    height: 1em;
    margin-top: 0%;
    
}

.green-area { /*se cambia de color el apartado de publicaciones*/
    background-color: #0AC693; 
}


.post {
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 { /*se define fuente en mayusculas*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul { /*no se define estilo*/
    list-style: none;
}
 
.post ul li { /*se define un tamaño minimo y maximo */
    min-height: 300px;
    max-width: 350px;
    margin: 2rem auto;
}

.post ul li article { /*se ocultan los elementos  si se salen del contenedor*/
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff; /*se difene el color blanco*/
    text-align: left;
    padding-bottom: 2em;
}

.post article img{ /*se le asigna un tamaño a cada imagen del articulo*/
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 2em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap; /*Para una sola fila+*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* About */

.about{ /*se define un margen superior*/
    margin-top: 2em;
}

.about h2 { /*el texto se define con mayuscula*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.125em;
    margin: 2em;
}

.bio-info img{ /*se le asigna tamaño a la imagen */
   width: 200px;
   height: 150px;
   padding-right: 1em;
   display: flex;
   justify-content: flex-start;
    
}

.bio-info p{ 
    font-size: 10px; /*se le asigna un tamaño al parrafo*/
    padding: 2em;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 4em;
    margin: 0em, 4em, 0em, 5em;
}

.contact { /*en esta clase se define la posicion de los formularios*/
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-end;
    text-align: left;
    padding: 0px 1em;
    
}

.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column; /*posicion en columna de los formularios*/
}

.contact-form input , .contact-form textarea{ /*estilos de bordes y paddings*/
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 90%;
    height: 30%;
    justify-content: flex-end;
    

    
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; /*color del marcado de posicion de texto del formulario*/
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
  /*color de texto de un formulario en mozilla firefox*/
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] { /*personalizacion del boton*/
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{ /*color de fondo y color de texto de pie de pagina*/
    background-color: #0D5061;
    color:#D7DEE6;
}

footer .social-links { /*margen 0 para iconos del pie de pagina*/
    margin: 0;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

.menu li a:hover{
    color: #F74442;
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {   /*Logo Aldana*/
        width: 100px;
        margin: 1.5;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }




    /*TODO: FALTA CSS */
} 

@media only screen and (min-width: 1024px) {

       /*TODO: FALTA CSS */



}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }
}